.movie-detail {
  margin-bottom: 50px;
}

.movie-detail .title{
  margin: 40px 0 60px 0;
}
.synopsis{
  margin-top: 40px;
}

.add-to-fav-btn {
  margin-top: 20px;
}

.add-to-fav-btn i {
  vertical-align: middle;
}
