<div class="movie-detail">

  <mz-parallax [height]="500" *ngIf="movie">
    <img class="responsive-img" src="{{movie.backdrop}}">
  </mz-parallax>

  <div class="container">
    <div *ngIf="movie">

      <h4 class="title center-align">{{movie.title}}</h4>

      <div class="row">

        <div class="col s12 m6 center-align">
          <img class="responsive-img z-depth-3" style="height: 500px" src="{{movie.poster}}">
        </div>

        <div class="col s12 m6">
          <div class="row">
            <mz-badge
              *ngFor="let genre of movie.genres"
              [badgeClass]="'teal'"
              [value]="genre"
              [caption]="''"
              [new]="true">
            </mz-badge>
          </div>
          <div class="bold">Date de sortie : {{movie.release_date}}</div>
          <div class="bold"> Langue : {{movie.language}}</div>

          <div class="col s12 synopsis">
            <h4> Résumé </h4>
            <p> {{movie.synopsis}} </p>
          </div>

          <div class="row col s12 right-align add-to-fav-btn">
            <a class="waves-effect waves-light btn" [class.disabled]="!isConnectedToBetaSeries" (click)="isConnectedToBetaSeries && addFavorite(movie.id)"><i mz-icon-mdi icon="heart"></i> Ajouter à vos favoris</a>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
