<div class="container series-section">

  <div class="row orange darken-3 center-align alert">
    La recherche de séries n'est actuellement pas entièrement fonctionnelle.<br>
    Le problème vient de notre fournisseur de données et nous ne pouvons donc rien y faire.<br>
    Merci de votre compréhension.
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s4">
      <i mz-icon-mdi icon="movie" class="prefix"></i>
      <input id="serieInput" type="text" [value]="searchInput" [formControl]="searchInputControl">
      <label for="serieInput">Find a Show</label>
    </div>
  </div>

  <div class="row center-align" *ngIf="loading === true">
    <div class="preloader-wrapper big active center-align">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <mz-collection class="scale-transition scale-out" *ngIf="loading === false && series.length > 0">
    <a *ngFor="let serie of series" mz-collection-link [routerLink]="['/series/detail', serie.id]">{{serie.title}}</a>
  </mz-collection>

  <h5 *ngIf="loading === false && series.length === 0" class="center-align">No results</h5>

  <ul class="pagination center-align" *ngIf="loading === false">
    <li [class.disabled]="page === 1"><a (click)="pageDown()" class="waves-effect"><i mz-icon-mdi icon="chevron-left"></i> Previous</a></li>
    <li><a (click)="pageUp()" class="waves-effect">Next <i mz-icon-mdi icon="chevron-right"></i></a></li>
  </ul>
</div>
