<div class="serie-detail">

  <mz-parallax [height]="500" *ngIf="serie">
    <img class="responsive-img" src="{{serie.images.banner}}">
  </mz-parallax>

  <div class="container">
    <div *ngIf="serie">

      <h4 class="title center-align">{{serie.title}} ({{serie.creation}})</h4>

      <div class="row">

        <div class="col s12 m6 center-align">
          <img class="responsive-img z-depth-3" style="height: 500px" src="{{serie.images.poster}}">
        </div>

        <div class="col s12 m6">
          <div class="row">
            <mz-badge
              *ngFor="let genre of serie.genres"
              [badgeClass]="'teal'"
              [value]="genre"
              [caption]="''"
              [new]="true">
            </mz-badge>
          </div>
          <div class="row pres">
            <div class="col s12 center-align">
              <h4 class="nbSeasons">{{serie.seasons}}</h4>
              <h5>saisons</h5>
              <h6>{{serie.episodes}} épisodes</h6>
              <h6 class="episodeLength"><i mz-icon-mdi icon="clock"></i> {{serie.length}}&nbsp;minutes</h6>
            </div>
          </div>

          <div class="col s12 synopsis">
            <h4> Résumé </h4>
            <p> {{serie.description}} </p>
          </div>
        <button (click)="addFavorite(serie.id)">addFav</button>
        </div>
      </div>
    </div>
  </div>

</div>
