.serie-detail {
  margin-bottom: 50px;
}

.serie-detail .title{
  margin: 40px 0 60px 0;
}
.synopsis{
  margin-top: 30px;
}
.nbSeasons {
  margin-top: 0;
  margin-bottom: -13px;
}
.episodeLength {
  margin-top: 10px;
}
.pres {
  margin-top: 50px;
}
