<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">My Tastes</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i mz-icon-mdi icon="menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Log In</a></li>
      <li><a *ngIf="auth.isAuthenticated()" routerLink="/movies">Movies</a></li>
      <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log out</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Log In</a></li>
      <li><a *ngIf="auth.isAuthenticated()" routerLink="/movies">Movies</a></li>
      <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
