<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">My Tastes</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i mz-icon-mdi icon="menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Log In</a></li>
      <li><a *ngIf="auth.isAuthenticated()" routerLink="/movies">Movies</a></li>
      <li><a *ngIf="auth.isAuthenticated()" routerLink="/series">Series</a></li>
      <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log out</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Log In</a></li>
      <li><a *ngIf="auth.isAuthenticated()" routerLink="/movies">Movies</a></li>
      <li><a *ngIf="auth.isAuthenticated()" routerLink="/series">Series</a></li>
      <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log out</a></li>
    </ul>
  </div>
</nav>

<a href="https://www.betaseries.com/authorize?client_id=fec5a9ca0aa3&redirect_uri=http://localhost:4200/redirect">Link</a>
<router-outlet></router-outlet>
