.red-background{
  background-color: #610102;
}

.text{
  margin-top: 20%;
  font-size: 25px;
  text-align: center;
}

.nav-wrapper .brand-logo{
  margin-left: 50px;
}

.ConnectedStatus{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.ConnectedStatus span{
  color: #e4e4e4;
}

.connected{
  background-color: #388e3c;
}
.notconnected span{
  color: #424242;
}
