body{
  background-image: url("images/wallpaperStarWars.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}
