<div class="row">
  <div class="home col s12">

      <div class="movie col s5">
        <div class="row">
          <span> Films </span>
        </div>
        <div class="row">
          <a routerLink="/movies" *ngIf="auth.isAuthenticated()"><img class="responsive-img z-depth-3" src="../assets/images/avatarPoster.jpg"></a>
          <img *ngIf="!auth.isAuthenticated()" class="responsive-img z-depth-3" src="../assets/images/avatarPoster.jpg">
        </div>
      </div>

    <div class="text col s2">
      <p> Retrouvez notre sélection </p>
      <p *ngIf="!auth.isAuthenticated()">
        <a (click)="auth.login()">Connectez-vous</a> pour y accéder.
      </p>
    </div>

      <div class="serie col s5">
        <div class="row">
          <span> Séries</span>
        </div>
        <div class="row">
          <a routerLink="/series" *ngIf="auth.isAuthenticated()"><img class="responsive-img z-depth-3" src="../assets/images/Game_of_Thrones.jpg"></a>
          <img *ngIf="!auth.isAuthenticated()" class="responsive-img z-depth-3" src="../assets/images/Game_of_Thrones.jpg">
        </div>
      </div>

  </div>
</div>
