.home img{
  width: 350px;
  height: 500px;
}

.home a{
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.home a:hover {
  color: #424242;
}

.home .movie{
  text-align: center;
}
.home .serie{
  text-align: center;
}

.home span{
  font-size: 35px;
}

.text{
  margin-top: 20%;
  font-size: 25px;
  text-align: center;
}
