<h4 *ngIf="auth.isAuthenticated()">
  You are logged in!
</h4>
<h4 *ngIf="!auth.isAuthenticated()"> -->
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>

<div class="row">
  <div class="home col s12">

      <div class="movie col s5">
        <div class="row">
          <span> Movies </span>
        </div>
        <div class="row">
          <a *ngIf="auth.isAuthenticated()" routerLink="/movies"><img class="responsive-img z-depth-3" src="../assets/images/avatarPoster.jpg"></a>
        </div>
      </div>

    <div class="text col s2">
      <p> Retrouvez notre sélection </p>
    </div>

      <div class="serie col s5">
        <div class="row">
          <span> Series</span>
        </div>
        <div class="row">
          <a *ngIf="auth.isAuthenticated()" routerLink="/series"><img class="responsive-img z-depth-3" src="../assets/images/Game_of_Thrones.jpg"></a>
        </div>
      </div>

  </div>
</div>


<div class="ConnectedStatus">
  <div class="chip" [class.connected]="auth.isAuthenticated()" [class.notconnected]="!auth.isAuthenticated()">
    <img src="../assets/images/MyTastes.png" alt="Connected status">
    <span>MyTaste</span>
  </div>
  <div class="chip" [class.connected]="!auth.isAuthenticated()" [class.notconnected]="auth.isAuthenticated()">
    <img src="../assets/images/BS.jpg" alt="Connected status">
    <span>BetaSeries</span>
  </div>
</div>
