<div class="row">
  <div class="home col s12">

      <div class="movie col s5">
        <div class="row">
          <span> Films </span>
        </div>
        <div class="row">
          <a routerLink="/movies" *ngIf="auth.isAuthenticated()"><img class="responsive-img z-depth-3" src="../assets/images/avatarPoster.jpg"></a>
          <img *ngIf="!auth.isAuthenticated()" class="responsive-img z-depth-3" src="{{movie.poster}}">
        </div>
      </div>

    <div class="text col s2">
      <p> Retrouvez notre sélection </p>
      <p *ngIf="!auth.isAuthenticated()">
        <a (click)="auth.login()">Connectez-vous</a> pour y accéder.
      </p>
    </div>

      <div class="serie col s5">
        <div class="row">
          <span> Séries</span>
        </div>
        <div class="row">
          <a routerLink="/series" *ngIf="auth.isAuthenticated()"><img class="responsive-img z-depth-3" src="../assets/images/Game_of_Thrones.jpg"></a>
          <img *ngIf="!auth.isAuthenticated()" class="responsive-img z-depth-3" src="../assets/images/Game_of_Thrones.jpg">
        </div>
      </div>

  </div>
</div>


<div class="ConnectedStatus">

    <div class="chip" [class.connected]="auth.isAuthenticated()" [class.notconnected]="!auth.isAuthenticated()">
      <img src="../assets/images/MyTastes.png" alt="Connected status">
      <span>MyTaste</span>
    </div>

  <a href="https://www.betaseries.com/authorize?client_id=fec5a9ca0aa3&redirect_uri=http://localhost:4200/redirect">
    <div class="chip" [class.connected]="token !== null" [class.notconnected]="token === null">
      <img src="../assets/images/BS.jpg" alt="Connected status">
      <span>BetaSeries</span>
    </div>
  </a>
</div>
